* {
  /* resatting rule*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0e2c5;
  color: #49281a;
}
html {
  scroll-behavior: smooth;
}
/*heading section  */
header {
  background-image: url(images/logo.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  display: block;
  unicode-bidi: isolate;
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  margin-bottom: 40px;
  background-color: transparent;
}
header p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 55px;
  background-color: transparent;
}
header a {
  font-family: "lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 15px 30px;
  border-radius: 9px;
}
/*nav section  */
nav {
  font-family: "lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 25px 0;
}
nav a {
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 9px;
}
/* our Menu */
#our-menu,
#about_us,
#contact,
footer {
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
#about_us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  margin: 20px 0;
}
/* flexbox */
.card_container,
.cake_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* card section */
.card {
  border: 2px solid #000;
  width: 300px;
  background-color: #f0e2c5;
  padding: 20px;
  border-radius: 9px;
}
.imgTop {
  max-width: 100%;
  border-radius: 9px;
}
.cardBody {
  text-align: center;
  font-family: "lato", sans-serif;
}
.cardText {
  line-height: 1.5;
}
.btnOrder {
  padding: 10% 20px;
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  border-radius: 9px;
}
/* cake section */
.cake {
  border: 2px solid #000;
  width: 300px;
  background-color: #f0e2c5;
  padding: 20px;
  border-radius: 9px;
}
.imgTop {
  max-width: 100%;
  border-radius: 9px;
}
.cakeBody {
  text-align: center;
  font-family: "lato", sans-serif;
}
.cakeText {
  line-height: 1.5;
}
.btnOrder {
  padding: 1% 20px;
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  border-radius: 9px;
}

/* about us section */
#about_us p,
#contact p {
  font-family: "lato", sans-serif;
  text-align: justify;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.2em;
}
/* contact */
form {
  width: 80%;
  margin: 10px auto;
  font-family: "Lato", sans-serif;
}
form div {
  padding: 15px 0;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
  font-size: 1.2em;
}
.form_control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #49281a;
}
.btm-submit {
  background-color: #49281a;
  color: #f0e2c5;
  width: 200px;
  height: 50px;
  margin-left: 160px;
  border: none;
  outline: none;
  border-radius: 9px;
  font-size: 1em;
}
/* footer section */
footer {
  text-align: center;
  font-family: "lato", sans-serif;
  padding: 10px 0;
}
